.slick-dots li button {
    width: 25px !important;
    height: 5px !important;
    background-color:#D3D6DC !important;
    border-radius:3px !important;
    font-size:0px !important; 
    border:0 !important;
    color: transparent !important;
    padding: 0 0 0 0 !important;
    padding-left: 9px !important;
    padding-right: 9px !important;
    margin-top: 100px !important;
}

.slick-dots li button:before{
    font-size: 0px !important;
}


.slick-dots .slick-active button
{
  background-color: #D76E2D !important;
}

.icon-select button span{
   border-color: #949494 !important;
   border-style: solid !important;
   border-width: 1px !important;
   border-radius: 100% !important;
   color: #949494;
}

.accordion-bg-color{
  background-color: #FFFFFF;
}

.check-font-size{
  font-size: 22px;
}