.NavbarBGMobile {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    /*background-image: linear-gradient(to right, rgba(86, 181, 227, 100), rgba(125, 88, 165, 100));*/
}

.sideNavOpen {
    height: 100%;
    width: 400px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    overflow-x: hidden;
    font-size: 16px;
    padding-top: 0px !important;
    transition: 0.1s;
    background-color: #ffffff;
    /*background-image: linear-gradient(to top, rgba(86, 181, 227, 100), rgba(125, 88, 165, 50));*/
    box-shadow: 0 0 8px 0 rgba(57, 78, 234, 0.1);
}

.sideNavClose {
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0;
    font-size: 20px;
    left: 0;
    z-index: 10;
    overflow-x: hidden;
    transition: 0.1s;
    background-color: #161616;
    box-shadow: 0 0 8px 0 rgba(57, 78, 234, 0.1);
}

.ContentOverlayOpen {
    display: block;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 7;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

.ContentOverlayClose {
    display: none;
}

.bars-btn {
    font-weight: 400;
    color: #e5e5e5 !important;
    background: none !important;
    font-size: 20px;
    padding: 0px 10px 0px 10px !important;
    border-radius: 2px;
    margin-top: 0px !important;
    /*border-color: #2c2c2c;*/
    border: none;
    /*box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.1);*/
    margin-left: 10px;
}

.bars-btn:focus {
    box-shadow: none !important;
}

.NavMobile {
    height: 65px !important;
}

.NavFontMarginTop {
    margin-top: 15px;
    margin-left: 7px;
}

.nav-font-mobile {
    font-family: 'Lato', sans-serif;
    color: #ffffff !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    text-decoration: none !important;
}

.nav-font-mobile:hover {
    font-family: 'Lato', sans-serif;
    color: #FF7323 !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    text-decoration: none !important;
}


/*XX-Small devices phones*/
@media (max-width: 374.98px) {

    /* nav menubar */
    .Mobile {}

    .Desktop {
        display: none;
    }

    /* Home Page Banner */
    .MobileHomeBanner {}

    .DesktopHomeBanner {
        display: none;
    }

    /* footer */
    .MobileFooter {}

    .DesktopFooter {
        display: none;
    }

    /* Contact section */
    .MobileContact {}

    .TabletContact{
        display: none;
    }

    .DesktopContact {
        display: none;
    }

    /* our office section */
    .MobileOffice {}

    .DesktopOffice {
        display: none;
    }

    /* Login */
    .MobileLogin {}

    .DesktopLogin {
        display: none;
    }

    /* Registration */
    .MobileRegistration {}

    .DesktopRegistration {
        display: none;
    }

    /* SingleCourseDetails */
    .MobileSingleCourseDetails {}

    .DesktopSingleCourseDetails {
        display: none;
    }

    /* Cart Payment */
    .CartPaymentMobile {}

    .CartPaymentDesktop {
        display: none;
    }

    /* checkout Page */
    .MobileCheckout {}

    .DesktopCheckout {
        display: none;
    }


    /* Cart Summery Page */
    .MobileCartSummery {}

    .DesktopCartSummery {
        display: none;
    }

    /* Cart Checkout Page */
    .MobileCartCheckout {}

    .TabletCartCheckout{
        display: none;
    }

    .DesktopCartCheckout {
        display: none;
    }

    /* Course Search Filter Page */
    .MobileCourseSearchFilter {}

    .DesktopCourseSearchFilter {
        display: none;
    }

    /* My Course Page */
    .MyCourseForMobile {}

    .MyCourseForDesktop {
        display: none;
    }

    /* Price Page */
    .PriceMobile {}

    .PriceDesktop {
        display: none;
    }

    /* Price Page contact section */
    .PriceContactMobile {}

    .PriceContactDesktop {
        display: none;
    }

}


/*extra Small devices*/
@media (min-width: 375px) and (max-width: 639.98px) {

    /* nav menubar */
    .Mobile {}

    .Desktop {
        display: none;
    }

    /* Home Page Banner */
    .MobileHomeBanner {}

    .DesktopHomeBanner {
        display: none;
    }

    /* footer */
    .MobileFooter {}

    .DesktopFooter {
        display: none;
    }

    /* contact section */
    .MobileContact {}

    .TabletContact{
        display: none;
    }

    .DesktopContact {
        display: none;
    }

    /* our office section */
    .MobileOffice {}

    .DesktopOffice {
        display: none;
    }

    /* Login */
    .MobileLogin {}

    .DesktopLogin {
        display: none;
    }

    /* Registration */
    .MobileRegistration {}

    .DesktopRegistration {
        display: none;
    }

    /* SingleCourseDetails */
    .MobileSingleCourseDetails {}

    .DesktopSingleCourseDetails {
        display: none;
    }

    /* Cart Payment */
    .CartPaymentMobile {}

    .CartPaymentDesktop {
        display: none;
    }

    /* checkout Page */
    .MobileCheckout {}

    .DesktopCheckout {
        display: none;
    }

    /* Cart Summery Page */
    .MobileCartSummery {}

    .DesktopCartSummery {
        display: none;
    }

    /* Cart Checkout Page */
    .MobileCartCheckout {}
    
    .TabletCartCheckout{
        display: none;
    }

    .DesktopCartCheckout {
        display: none;
    }

    /* Course Search Filter Page */
    .MobileCourseSearchFilter {}

    .DesktopCourseSearchFilter {
        display: none;
    }

    /* My Course Page */
    .MyCourseForMobile {}

    .MyCourseForDesktop {
        display: none;
    }

    /* Price Page */
    .PriceMobile {}

    .PriceDesktop {
        display: none;
    }

    /* Price Page contact section */
    .PriceContactMobile {}

    .PriceContactDesktop {
        display: none;
    }
}


/*small devices*/
@media (min-width: 640px) and (max-width: 767.98px) {

    /* nav menubar */
    .Mobile {}

    .Desktop {
        display: none;
    }

    /* Home Page Banner */
    .MobileHomeBanner {}

    .DesktopHomeBanner {
        display: none;
    }

    /* footer */
    .MobileFooter {}

    .DesktopFooter {
        display: none;
    }

    /* contact section */
    .MobileContact {}

    .TabletContact{
        display: none;
    }

    .DesktopContact {
        display: none;
    }

    /* our office section */
    .MobileOffice {}

    .DesktopOffice {
        display: none;
    }

    /* Login */
    .MobileLogin {}

    .DesktopLogin {
        display: none;
    }

    /* Registration */
    .MobileRegistration {}

    .DesktopRegistration {
        display: none;
    }

    /* SingleCourseDetails */
    .MobileSingleCourseDetails {}

    .DesktopSingleCourseDetails {
        display: none;
    }

    /* Cart Payment */
    .CartPaymentMobile {}

    .CartPaymentDesktop {
        display: none;
    }

    /* checkout Page */
    .MobileCheckout {}

    .DesktopCheckout {
        display: none;
    }

    /* Cart Summery Page */
    .MobileCartSummery {}

    .DesktopCartSummery {
        display: none;
    }

    /* Cart Checkout Page */
    .MobileCartCheckout {}

    .TabletCartCheckout{
        display: none;
    }

    .DesktopCartCheckout {
        display: none;
    }

    /* Course Search Filter Page */
    .MobileCourseSearchFilter {}

    .DesktopCourseSearchFilter {
        display: none;
    }

    /* My Course Page */
    .MyCourseForMobile {}

    .MyCourseForDesktop {
        display: none;
    }

    /* Price Page */
    .PriceMobile {}

    .PriceDesktop {
        display: none;
    }

    /* Price Page contact section */
    .PriceContactMobile {}

    .PriceContactDesktop {
        display: none;
    }
}

/*md Device*/
@media (min-width: 768px) and (max-width: 1023.98px) {

    /* nav menubar */
    .Mobile {}

    .Desktop {
        display: none;
    }

    /* Home Page Banner */
    .MobileHomeBanner {
        display: none;
    }

    .DesktopHomeBanner {}

    /* footer */
    .MobileFooter {
        display: none;
    }

    .DesktopFooter {}

    /* contact section */
    .MobileContact {
        display: none;
    }

    .TabletContact{}

    .DesktopContact {
        display: none;
    }


    /* our office section */
    .MobileOffice {}

    .DesktopOffice {
        display: none;
    }

    /* Login */
    .MobileLogin {}

    .DesktopLogin {
        display: none;
    }

    /* Registration */
    .MobileRegistration {}

    .DesktopRegistration {
        display: none;
    }

    /* SingleCourseDetails */
    .MobileSingleCourseDetails {
        display: none;
    }

    .DesktopSingleCourseDetails {}


    /* Cart Payment */
    .CartPaymentMobile {
        
    }

    .CartPaymentDesktop {
        display: none;
    }


    /* checkout Page */
    .MobileCheckout {
        display: none;
    }

    .DesktopCheckout {}

    /* Cart Summery Page */
    .MobileCartSummery {
        display: none;
    }

    .DesktopCartSummery {}


    /* Cart Checkout Page */
    .MobileCartCheckout {
        display: none;
    }

    .TabletCartCheckout{
       
    }

    .DesktopCartCheckout {
        display: none;
    }


    /* Course Search Filter Page */
    .MobileCourseSearchFilter {
        display: none;
    }

    .DesktopCourseSearchFilter {}

    /* My Course Page */
    .MyCourseForMobile {
        display: none;
    }

    .MyCourseForDesktop {}

    /* Price Page */
    .PriceMobile {
        
    }

    .PriceDesktop {
        display: none;
    }

    /* Price Page contact section */
    .PriceContactMobile {
        display: none;
    }

    .PriceContactDesktop {
     
    }

}


/*Lg Device*/
@media (min-width: 1024px) and (max-width: 1279.98px) {

    /* nav menubar */
    .Mobile {
        display: none;
    }

    .Desktop {}

    /* Home Page Banner */
    .MobileHomeBanner {
        display: none;
    }

    .DesktopHomeBanner {}

    /* footer */
    .MobileFooter {
        display: none;
    }

    .DesktopFooter {}

    /* contact section */
    .MobileContact {
        display: none;
    }

    .TabletContact{
        display: none;
    }

    .DesktopContact {}


    /* our office section */
    .MobileOffice {
        display: none;
    }

    .DesktopOffice {}

    /* Login */
    .MobileLogin {
        display: none;
    }

    .DesktopLogin {}

    /* Registration */
    .MobileRegistration {
        display: none;
    }

    .DesktopRegistration {}

    /* SingleCourseDetails */
    .MobileSingleCourseDetails {
        display: none;
    }

    .DesktopSingleCourseDetails {}

    /* Cart Payment */
    .CartPaymentMobile {
        display: none;
    }

    .CartPaymentDesktop {}

    /* checkout Page */
    .MobileCheckout {
        display: none;
    }

    .DesktopCheckout {}

    /* Cart Summery Page */
    .MobileCartSummery {
        display: none;
    }

    .DesktopCartSummery {}

    /* Cart Checkout Page */
    .MobileCartCheckout {
        display: none;
    }

    .TabletCartCheckout{
        display: none;
    }

    .DesktopCartCheckout {}


    /* Course Search Filter Page */
    .MobileCourseSearchFilter {
        display: none;
    }

    .DesktopCourseSearchFilter {}

    /* My Course Page */
    .MyCourseForMobile {
        display: none;
    }

    .MyCourseForDesktop {}

    /* Price Page */
    .PriceMobile {
        display: none;
    }

    .PriceDesktop {}

    /* Price Page contact section */
    .PriceContactMobile {
        display: none;
    }

    .PriceContactDesktop {}
}

/*XL Device*/
@media (min-width: 1280px) and (max-width: 1535.98px) {

    /* nav menubar */
    .Mobile {
        display: none;
    }

    .Desktop {}

    /* Home Page Banner */
    .MobileHomeBanner {
        display: none;
    }

    .DesktopHomeBanner {}

    /* footer */
    .MobileFooter {
        display: none;
    }

    .DesktopFooter {}

     /* contact section */
     .MobileContact {
        display: none;
    }

    .TabletContact{
        display: none;
    }

    .DesktopContact {}


    /* our office section */
    .MobileOffice {
        display: none;
    }

    .DesktopOffice {}

    /* Login */
    .MobileLogin {
        display: none;
    }

    .DesktopLogin {}

    /* Registration */
    .MobileRegistration {
        display: none;
    }

    .DesktopRegistration {}

    /* SingleCourseDetails */
    .MobileSingleCourseDetails {
        display: none;
    }

    .DesktopSingleCourseDetails {}

    /* Cart Payment */
    .CartPaymentMobile {
        display: none;
    }

    .CartPaymentDesktop {}

    /* checkout Page */
    .MobileCheckout {
        display: none;
    }

    .DesktopCheckout {}

    /* Cart Summery Page */
    .MobileCartSummery {
        display: none;
    }

    .DesktopCartSummery {}

    /* Cart Checkout Page */
    .MobileCartCheckout {
        display: none;
    }

    .TabletCartCheckout{
        display: none;
    }

    .DesktopCartCheckout {}

    /* Course Search Filter Page */
    .MobileCourseSearchFilter {
        display: none;
    }

    .DesktopCourseSearchFilter {}

    /* My Course Page */
    .MyCourseForMobile {
        display: none;
    }

    .MyCourseForDesktop {}

    /* Price Page */
    .PriceMobile {
        display: none;
    }

    .PriceDesktop {}

    /* Price Page contact section */
    .PriceContactMobile {
        display: none;
    }

    .PriceContactDesktop {}
}

/*2XL Device*/
@media (min-width: 1536px) {

    /* nav menubar */
    .Mobile {
        display: none;
    }

    .Desktop {}

    /* Home Page Banner */
    .MobileHomeBanner {
        display: none;
    }

    .DesktopHomeBanner {}

    /* footer */
    .MobileFooter {
        display: none;
    }

    .DesktopFooter {}

     /* contact section */
     .MobileContact {
        display: none;
    }

    .TabletContact{
        display: none;
    }

    .DesktopContact {}


    /* our office section */
    .MobileOffice {
        display: none;
    }

    .DesktopOffice {}

    /* Login */
    .MobileLogin {
        display: none;
    }

    .DesktopLogin {}

    /* Registration */
    .MobileRegistration {
        display: none;
    }

    .DesktopRegistration {}

    /* SingleCourseDetails */
    .MobileSingleCourseDetails {
        display: none;
    }

    .DesktopSingleCourseDetails {}

    /* Cart Payment */
    .CartPaymentMobile {
        display: none;
    }

    .CartPaymentDesktop {}


    /* checkout Page */
    .MobileCheckout {
        display: none;
    }

    .DesktopCheckout {}

    /* Cart Summery Page */
    .MobileCartSummery {
        display: none;
    }

    .DesktopCartSummery {}

    /* Cart Checkout Page */
    .MobileCartCheckout {
        display: none;
    }

    .TabletCartCheckout{
        display: none;
    }

    .DesktopCartCheckout {}

    /* Course Search Filter Page */
    .MobileCourseSearchFilter {
        display: none;
    }

    .DesktopCourseSearchFilter {}

    /* My Course Page */
    .MyCourseForMobile {
        display: none;
    }

    .MyCourseForDesktop {}

    /* Price Page */
    .PriceMobile {
        display: none;
    }

    .PriceDesktop {}

    /* Price Page contact section */
    .PriceContactMobile {
        display: none;
    }

    .PriceContactDesktop {}
}