.nav-pills .nav-link {
    background: #ffffff;
    color: #000000!important;
    box-shadow: none;
}
.nav-pills .nav-link.active {
    background: #D76E2D;
    color: #ffffff!important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}


.nav-pills .nav-link1 {
    background: #ffffff;
    color: #000000!important;
    box-shadow: none;
}
.nav-pills .nav-link1.active {
    background: #ffffff;
    border-top: #ffffff;
    border-left: #ffffff;
    border-right: #ffffff;
    border-bottom: #D76E2D;
    border-style: solid;
    border-width: 4px;
    border-radius: 6px;
}

.nav-pills .nav-linkc {
    background: #F3F4F6;
    color: #000000!important;
    box-shadow: none;
}
.nav-pills .nav-linkc .active {
    background: #ffffff;
    color: #1D2733!important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}


.nav-pills .nav-linkc2 {
    background: #ffffff;
    color: #000000!important;
    box-shadow: none;
}
.nav-pills .nav-linkc2.active {
    background: #ffffff;
    border-top: #ffffff;
    border-left: #ffffff;
    border-right: #ffffff;
    border-bottom: #D76E2D;
    border-style: solid;
    border-width: 4px;
    border-radius: 6px;
}


.nav-pills .nav-link-course {
    /* color: #000000!important; */
    box-shadow: none;
}
.nav-pills .nav-link-course.active {
    color: #D76E2D !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: #D76E2D;
    border-style: solid;
    border-width: 4px;
    border-radius: 0;
}



/* my course details page nav-link */

.nav-pills .nav-link-my-course-details {
    /* color: #000000!important; */
    box-shadow: none;
}
.nav-pills .nav-link-my-course-details.active {
    color: #000000 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: #D76E2D;
    border-style: solid;
    border-width: 4px;
    border-radius: 0;
    padding-bottom: 3px;
}