/*X-Small devices*/
@media (min-width: 375.98px) and (max-width: 639.98px) {
    .IgLearnProBanner {
        background-image: url('../images/banner//IgLearnProBanner.png');
        width: 100% !important;
        height: 400px !important;
        opacity: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 !important;
        padding: 0 !important;
    }

    .LearningTeaching {
        height: 300px !important;
        margin-top: -100px !important;
    }

    .vision-image {
        height: 350px;
        width: auto;
    }

    .PriceBanner {
        background-image: url('../images/banner/price-banner.svg');
        width: 100% !important;
        height: 350px !important;
        opacity: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 !important;
        padding: 0 !important;
    }
    .PriceContact {
        background-image: url('../images/banner/price-contact-mobile.svg');
        width: 80% !important;
        height: 550px !important;
        opacity: 1;
        border-radius: 10px;
        background-position: center !important;
        background-repeat: no-repeat;
        background-size: cover;
      }
}

/*small devices*/
@media (min-width: 640px) and (max-width: 767.98px) {
    .IgLearnProBanner {
        background-image: url('../images/banner//IgLearnProBanner.png');
        width: 100% !important;
        height: 450px !important;
        opacity: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 !important;
        padding: 0 !important;
    }

    .LearningTeaching {
        height: 500px !important;
        margin-top: -100px !important;
    }

    .vision-image {
        height: 450px;
        width: auto;
    }

    .PriceBanner {
        background-image: url('../images/banner/price-banner.svg');
        width: 100% !important;
        height: 420px !important;
        opacity: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 !important;
        padding: 0 !important;
    }
    .PriceContact {
        background-image: url('../images/banner/price-contact-mobile.svg');
        width: 70% !important;
        height: 750px !important;
        opacity: 1;
        border-radius: 10px;
        background-position: center !important;
        background-repeat: no-repeat;
        background-size: cover;
      }

}


/*Medium Device*/
@media (min-width: 768px) and (max-width: 1023.98px) {
    .IgLearnProBanner {
        background-image: url('../images/banner//IgLearnProBanner.png');
        width: 100% !important;
        height: 450px !important;
        opacity: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 !important;
        padding: 0 !important;
    }

    .LearningTeaching {
        height: 700px !important;
        margin-top: -100px !important;
    }

    .vision-image {
        height: 450px;
        width: auto;
    }

    .PriceBanner {
        background-image: url('../images/banner/price-banner.svg');
        width: 100% !important;
        height: 500px !important;
        opacity: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 !important;
        padding: 0 !important;
    }

    .PriceContact {
        background-image: url('../images/banner/price-contact.svg');
        width: 100% !important;
        height: 140px !important;
        opacity: 1;
        border-radius: 10px;
        background-position: center !important;
        background-repeat: no-repeat;
        background-size: cover;
      }
}

/*lg devices*/
@media (min-width: 1024px) and (max-width: 1279.98px) {
    .IgLearnProBanner {
        background-image: url('../images/banner//IgLearnProBanner.png');
        width: 100% !important;
        height: 550px !important;
        opacity: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 !important;
        padding: 0 !important;
    }

    .about-bg-height {
        width: 100% !important;
        height: 570px !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .LearningTeaching {
        height: 750px !important;
        margin-top: -100px !important;
    }

    .vision-image {
        height: 400px;
        width: auto;
    }

    .PriceBanner {
        background-image: url('../images/banner/price-banner.svg');
        width: 100% !important;
        height: 550px !important;
        opacity: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 !important;
        padding: 0 !important;
    }
    .PriceContact {
        background-image: url('../images/banner/price-contact.svg');
        width: 100% !important;
        height: 170px !important;
        opacity: 1;
        border-radius: 10px;
        background-position: center !important;
        background-repeat: no-repeat;
        background-size: cover;
      }

}

/* xl device */
@media (min-width: 1280px) and (max-width: 1535.98px) {
    .about-bg-height {
        width: 100% !important;
        height: 740px !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .LearningTeaching {
        height: 800px !important;
        margin-top: -100px !important;
    }

    .PriceBanner {
        background-image: url('../images/banner/price-banner.svg');
        width: 100% !important;
        height: 650px !important;
        opacity: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 !important;
        padding: 0 !important;
    }

    .PriceContact {
        background-image: url('../images/banner/price-contact.svg');
        width: 100% !important;
        height: 190px !important;
        opacity: 1;
        border-radius: 10px;
        background-position: center !important;
        background-repeat: no-repeat;
        background-size: cover;
      }
}

/* 2xl device */
@media (min-width: 1536px) {
    .about-bg-height {
        width: 100% !important;
        height: 900px !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .PriceBanner {
        background-image: url('../images/banner/price-banner.svg');
        width: 100% !important;
        height: 700px !important;
        opacity: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 !important;
        padding: 0 !important;
    }

    .PriceContact {
        background-image: url('../images/banner/price-contact.svg');
        width: 100% !important;
        height: 200px !important;
        opacity: 1;
        border-radius: 10px;
        background-position: center !important;
        background-repeat: no-repeat;
        background-size: cover;
      }
}