/*X-Small devices portrait phones*/
@media (min-width: 375.98px) and (max-width: 575.98px) {

  .PriceBanner {
    width: 100% !important;
    height: 280px !important;
  }

  .LearningTeaching {
    background-image: url('../src/asset/images/banner/learning-teaching.svg');
    width: 100% !important;
    height: 800px !important;
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: cover;
    margin-top: -200px !important;
    padding: 0 !important;
  }

  .LearningTeachingBlack {
    background-image: url('../src/asset/images/banner/learning-teaching-black.svg');
    width: 100% !important;
    height: 800px !important;
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: cover;
    margin-top: -200px !important;
    padding: 0 !important;
  }
}

.LearningTeaching {
  background-image: url('../src/asset/images/banner/learning-teaching.svg');
  width: 100% !important;
  height: 1000px !important;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -200px !important;
  padding: 0 !important;
}

.LearningTeachingBlack {
  background-image: url('../src/asset/images/banner/learning-teaching-black.svg');
  width: 100% !important;
  height: 1000px !important;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -200px !important;
  padding: 0 !important;
}

.AboutContact {
  background-image: url('../src/asset/images/banner/about-contact.svg');
  width: 1400px !important;
  height: 180px !important;
  opacity: 1;
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.PriceContact {
  background-image: url('../src/asset/images/banner/price-contact.svg');
  width: 1400px !important;
  height: 180px !important;
  opacity: 1;
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.IgLearnProBanner {
  background-image: url('../src/asset/images/banner/IgLearnProBanner.png');
  width: 100% !important;
  height: 100vh !important;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 !important;
  padding: 0 !important;
}


/*X-Small devices portrait phones*/
@media (min-width: 375.98px) and (max-width: 639.98px) {
  .IgLearnProBanner {
    background-image: url('../src/asset/images/banner/IgLearnProBanner.png');
    width: 100% !important;
    height: 400px !important;
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 !important;
    padding: 0 !important;
  }
}

/*small devices*/
@media (min-width: 640px) and (max-width: 767.98px) {
  .IgLearnProBanner {
    background-image: url('../src/asset/images/banner/IgLearnProBanner.png');
    width: 100% !important;
    height: 450px !important;
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 !important;
    padding: 0 !important;
  }

  .LearningTeaching {
    height: 500px !important;
    margin-top: -100px !important;
  }

  .vision-image {
    height: 450px;
    width: auto;
  }

}


/*Medium Device*/
@media (min-width: 768px) and (max-width: 1023.98px) {
  .IgLearnProBanner {
    background-image: url('../src/asset/images/banner/IgLearnProBanner.png');
    width: 100% !important;
    height: 450px !important;
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 !important;
    padding: 0 !important;
  }

  .LearningTeaching {
    height: 700px !important;
    margin-top: -100px !important;
  }

  .vision-image {
    height: 450px;
    width: auto;
  }
}

/*lg devices*/
@media (min-width: 1024px) and (max-width: 1279.98px) {
  .IgLearnProBanner {
    background-image: url('../src/asset/images/banner/IgLearnProBanner.png');
    width: 100% !important;
    height: 550px !important;
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 !important;
    padding: 0 !important;
  }
  .about-bg-height {
    width: 100% !important;
    height: 570px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .LearningTeaching {
    height: 750px !important;
    margin-top: -100px !important;
  }

  .vision-image {
    height: 400px;
    width: auto;
  }
}

/* xl device */
@media (min-width: 1280px) and (max-width: 1535.98px) {
  .about-bg-height {
    width: 100% !important;
    height: 740px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .LearningTeaching {
    height: 800px !important;
    margin-top: -100px !important;
  }
}

/* 2xl device */
@media (min-width: 1536px){
  .about-bg-height {
    width: 100% !important;
    height: 900px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


.Banner1 {
  height: 900px !important;
  width: 100% !important;
}

.PriceBanner {
  background-image: url('../src/asset/images/banner/price-banner.svg');
  width: 100% !important;
  height: 700px !important;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 !important;
  padding: 0 !important;
}

.ContactBanner {
  background-image: url('../src/asset/images/banner/ContactBanner.png');
  width: 100% !important;
  height: 100vh !important;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 !important;
  padding: 0 !important;
}

.ContactBannerBlack {
  background-image: url('../src/asset/images/banner/ContactBannerBlack.svg');
  width: 100% !important;
  height: 100vh !important;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 !important;
  padding: 0 !important;
}

.bg-checkout {
  background-image: url('../src/asset/images/banner/CheckoutPageBackground.svg');
  width: 100% !important;
  height: 100vh !important;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0px !important;
  padding: 0 !important;
}

.bg-checkout-dark {
  background-image: url('../src/asset/images/banner/checkoutBannerBlack.svg');
  width: 100% !important;
  height: 100vh !important;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0px !important;
  padding: 0 !important;
}

.footer-svg {
  background-image: url('../src/asset/images/banner/footer-svg.svg');
  width: 100% !important;
  height: 600px !important;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 !important;
  padding: 0 !important;
}

.footer-dark-svg {
  background-image: url('../src/asset/images/banner/footer-dark-svg.svg');
  width: 100% !important;
  height: 600px !important;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 !important;
  padding: 0 !important;
}

.box-shadow-footer-logo {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.hr-footer-color {
  border-color: rgb(255, 255, 255);
}

.image-center {
  justify-content: center;
  justify-items: center;
  align-items: center;
  object-position: center;
  display: flex;
}

.home-ad-banner {
  height: 1200px !important;
}

.hover-overlay {
  position: absolute;
  background-color: #000000;
}

.cat-container {
  opacity: .1;
}

.social-icons-login-fb {
  background-color: #E7F0FB;
  padding: 10px !important;
}

.social-icons-login-twitter {
  background-color: #E7F0FB;
  padding: 10px !important;
}

.social-icons-login-google {
  background-color: #FDE8EB;
  padding: 10px !important;
}


/* About Page */

.shadow-about {
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.03);
}

.hide {
  display: none;
}

.hide:hover {
  display: block;
  color: #D76E2D;
  margin-top: -120px;
  margin-right: 40px !important;
  float: right !important;
}

.myDIV:hover+.hide {
  display: block;
  color: #D76E2D;
  margin-top: -120px;
  margin-right: 40px !important;
  float: right !important;
}


.about-contact-btn {
  box-shadow: 6px 8px 2px rgba(0, 0, 0, .4);
}

.shadow-student {
  box-shadow: 10px 10px 20px rgba(120, 55, 5, 0.2);
}

.shadow-teacher {
  box-shadow: 10px 10px 20px rgba(5, 120, 9, 0.2);
}


/* course Details scroll bar  */
#overflowTest {
  background: #ffffff;
  padding: 15px;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  border: 0px solid #ccc;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #000000;
}

.img-back {
  background-attachment: fixed !important;
  height: 400px;
  background-image: url('../src/asset/images/banner/IgLearnProBanner.png');
  width: 100% !important;
  height: 400px !important;
  opacity: 1;
  margin: 0 !important;
  padding: 0 !important;
}


.margin-right {
  margin-right: 800px;
}


.stack>*:nth-child(2) {
  transform: translateY(0.5rem) scale(0.95);
  z-index: 2;
  opacity: 1;
}

.shadow-upcomming {
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.05);
}

.shadow-upcomming-big-card {
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.05);
}

.upcomming-shadow-card-height-width {
  width: 500px;
  height: 200px;
}

.cart-checkout-shadow-card-height-width {
  width: 535px;
  height: 80px;
}

.TrainerBannner {
  height: 600px;
  width: 100%;
}

.shadow-search-filter {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}


.ReactFlagsSelect-module_selectBtn__19wW7 {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 8px !important;
  font-family: inherit;
  color: #000000;
  border: none !important;
  border-radius: 10px !important;
  background: #F3F4F6 !important;
  font-size: 14px !important;
}

.ReactFlagsSelect-module_selectOptions__3LNBJ {
  position: absolute;
  z-index: 999999;
  border: none !important;
  border-radius: 2px !important;
  background: #ffffff !important;
  margin-top: 8px;
  padding: 1px 0;
  max-height: 280px !important;
  overflow: auto;
  color: #000000 !important;
  font-weight: 300 !important;
  font-size: 14px !important;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.ReactFlagsSelect-module_selectOptions__3LNBJ:hover {
  color: #000000 !important;
}


.ReactFlagsSelect-module_selectBtn__19wW7:after {
  border-top: 4px solid #000000;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 0 !important;
  margin-right: 5px;
}


.ReactFlagsSelect-module_selectBtn__19wW7:after {
  content: " ";
  width: 0;
  height: 0;
  display: inline-block;
  margin-left: 5px;
}


.ReactFlagsSelect-module_selectBtn__19wW7[aria-expanded="true"]:after {
  border-top: 0;
  border-left: 4px solid transparent !important;
  border-right: 4px solid transparent !important;
  border-bottom: 4px solid #000000 !important;
  margin-right: 5px;
}


.ReactFlagsSelect-module_selectBtn__19wW7:after,
.ReactFlagsSelect-module_selectBtn__19wW7[aria-expanded="true"]:after {
  content: " ";
  width: 0;
  height: 0;
  display: inline-block;
  margin-left: 5px;
}



webrouk-custom-range {
  /* Expected variables from inside the component (optional) */
  --primary-color: #D76E2D;
  --text-color: hsl(0, 100%, 100%);
  --line-color: hsl(0, 0%, 93%);
}

.hr-tag-select {
  border: #E7F0FB !important;
  border-style: solid !important;
  border-width: 2px !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.option-custom {
  font-weight: normal;
  font-weight: 300 !important;
  color: darkblue !important;
  white-space: normal !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.cart-summery-card-height {
  height: 440px;
}




.slide-arrow-font-next {
  font-size: 24px;
  font-weight: 900;
  color: #D76E2D;
  position: absolute;
  margin-left: -20px !important;
}

.slide-arrow-font-previous {
  font-size: 24px;
  font-weight: 900;
  color: #D76E2D;
  position: absolute;
  margin-left: -22px !important;
}