@tailwind base;
@tailwind components;
@tailwind utilities;


.Banner1 {
  background-image: url('../src/asset/images/banner/banner1.svg');
  width: 100% !important;
  height: 100vh !important;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 !important;
  padding: 0 !important;
}

.footer-svg {
  background-image: url('../src/asset/images/banner/footer-svg.svg');
  width: 100% !important;
  height: 600px !important;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 !important;
  padding: 0 !important;
}

.box-shadow-footer-logo {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.hr-footer-color {
  border-color: rgb(255, 255, 255);
}

.image-center{
  justify-content: center;
  justify-items: center;
  align-items: center;
  object-position: center;
  display: flex;
}