@tailwind base;
@tailwind components;
@tailwind utilities;

.Banner1 {
  background-image: url('../src/asset/images/banner/banner1.svg');
  width: 100% !important;
  height: 100vh !important;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 !important;
  padding: 0 !important;
}

.PriceBanner {
  background-image: url('../src/asset/images/banner/price-banner.svg');
  width: 100% !important;
  height: 700px !important;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 !important;
  padding: 0 !important;
}

.LearningTeaching {
  background-image: url('../src/asset/images/banner/learning-teaching.svg');
  width: 100% !important;
  height: 1000px !important;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -200px !important;
  padding: 0 !important;
}


.AboutContact {
  background-image: url('../src/asset/images/banner/about-contact.svg');
  width: 1400px !important;
  height: 180px !important;
  opacity: 1;
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.IgLearnProBanner {
  background-image: url('../src/asset/images/banner/IgLearnProBanner.png');
  width: 100% !important;
  height: 100vh !important;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 !important;
  padding: 0 !important;
}

.ContactBanner {
  background-image: url('../src/asset/images/banner/ContactBanner.png');
  width: 100% !important;
  height: 100vh !important;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 !important;
  padding: 0 !important;
}

.footer-svg {
  background-image: url('../src/asset/images/banner/footer-svg.svg');
  width: 100% !important;
  height: 600px !important;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 !important;
  padding: 0 !important;
}

.box-shadow-footer-logo {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.hr-footer-color {
  border-color: rgb(255, 255, 255);
}

.image-center {
  justify-content: center;
  justify-items: center;
  align-items: center;
  object-position: center;
  display: flex;
}

.home-ad-banner {
  height: 1200px !important;
}



.hover-overlay {
  position: absolute;
  background-color: #000000;
}

.cat-container {
  opacity: .1;
}



.social-icons-login-fb {
  background-color: #E7F0FB;
  padding: 10px !important;
}

.social-icons-login-twitter {
  background-color: #E7F0FB;
  padding: 10px !important;
}

.social-icons-login-google {
  background-color: #FDE8EB;
  padding: 10px !important;
}



/* About Page */

.about-bg-height {
  width: 100% !important;
  height: 100vh !important;
  background: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shadow-about {
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.03);
}

.hide {
  display: none;
}

.hide:hover {
  display: block;
  color: #D76E2D;
  margin-top: -120px;
  margin-right: 40px !important;
  float: right !important;
}

.myDIV:hover+.hide {
  display: block;
  color: #D76E2D;
  margin-top: -120px;
  margin-right: 40px !important;
  float: right !important;
}


.about-contact-btn {
  box-shadow: 6px 8px 2px rgba(0, 0, 0, .4);
}

.shadow-student {
  box-shadow: 10px 10px 20px rgba(120, 55, 5, 0.2);
}

.shadow-teacher {
  box-shadow: 10px 10px 20px rgba(5, 120, 9, 0.2);
}



/* course Details scroll bar  */
#overflowTest {
  background: #ffffff;
  padding: 15px;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  border: 0px solid #ccc;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #000000;
}

.img-back{
  background-attachment: fixed!important;
  height: 400px;
  background-image: url('../src/asset/images/banner/IgLearnProBanner.png');
  width: 100% !important;
  height: 400px !important;
  opacity: 1;
  margin: 0 !important;
  padding: 0 !important;
}